.Front-bg {
  background-image: url(/img/divider.png),
    linear-gradient(237deg, #c1b132, #c200c9) !important;

  height: 136vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
