.Front-bg {
  background-image: url(https://luckynetwork.net/static/media/devider1.e985307a.png),
    linear-gradient(237deg, #c1b132, #c96e00) !important;

  height: 136vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
